$fontColor: #707070;
$active: #4488FF;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  color: $fontColor;
}

a {
  color: $fontColor;
  text-decoration: none;
}

a:hover {
  color: $active;
}

button {
  border: none;
  outline: none;
  cursor: pointer;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
}

#app {
  min-height: 100vh;
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
